body {
  font-family: Arial, sans-serif;
  background-color: #182233;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  min-height: 100vh;
  font-size: 1.75em; /* Zoom global */
}

h1 {
  font-size: 3.5em;
  margin-top: 5px;
  margin-bottom: 25px;
  color: #007af3;
  font-weight: bold;
  text-align: center;
}

#jeu {
  background-color: #202127cc;
  width: 100%;
  max-width: 800px;
  padding: 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  text-align: center;
}

.indice {
  font-size: 1.9em;
  margin-bottom: 25px;
  color: #e2e2e2;
}

input[type="text"] {
  width: 70%;
  padding: 15px 18px;
  font-size: 1.4em;
  border: 1px solid #2b2c35;
  border-radius: 6px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  outline: none;
  margin-right: 12px;
  background-color: #182233;
  color: rgb(221, 221, 221);
}

button {
  padding: 15px 28px;
  font-size: 1.4em;
  background-color: #07376d;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

#boutonValider {
  background-color: #00779b;
}

#boutonValider:hover {
  background-color: #004053;
}

#boutonRejouer {
  padding: 15px 28px;
  font-size: 1.4em;
  background-color: #07376d;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 25px;
  transition: background-color 0.3s ease;
}

#boutonRejouer:hover {
  background-color: #0056b3;
}

.message {
  margin-top: 30px;
  font-weight: bold;
  color: #e2e2e2;
  font-size: 1.3em;
  min-height: 1.5em;
}

#progression {
  margin-top: 30px;
  font-style: italic;
  color: #007af3;
  font-size: 1.1em;
}

.skip {
  margin-top: 6px;
}

#commencer {
  margin: 25px auto;
  display: block;
}

#choix {
  background-color: #202127cc;
  width: 100%;
  max-width: 800px;
  padding: 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  text-align: center;
}

label {
  color: #007af3;
  font-size: 1.4em;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 12px;
  display: block;
}

#nbJoueurs {
  margin-top: 12px;
  padding: 12px 18px;
  background-color: #182233;
  color: #e2e2e2;
  font-size: 1.1em;
  border: 1px solid #011b38;
  border-radius: 6px;
  cursor: pointer;
  transition: border-color 0.2s ease-in-out, background-color 0.3s ease;
}

#nbJoueurs:hover,
#nbJoueurs:focus {
  background-color: #1e2b47;
  border-color: #007af3;
  outline: none;
}

#nbJoueurs option {
  background-color: #182233;
  color: #e2e2e2;
}




